/* Styles to be used by all pages in site */

#container{
			height:100%;
			width:100%;
			margin:auto;
			background: rgb(35,33,98);
			background: linear-gradient(90deg, rgba(35,33,98,1) 0%, rgba(1,37,62,1) 52%, rgba(0,89,169,1) 100%);
			overflow-x:hidden;
			overflow-y:scroll;
		}
		
		html{
		  height:100vh;
		  width:100vw;
		}
		
		body{
		  margin:0;
		  padding:0;
		  height: 100%;
		  width:100%;
		  font-family: 'Orbitron';
		}
		
		
		#header{
			height:300px;
			width:100%;
		}
		#header #Logo{
			position: relative;
			width:fit-content;
			height:fit-content;
			left:775px;
			top:50px;
		}
		 #Logo img:hover{
			transform:scale(1.2);
		}
		 #Logo a{
			display:inline-block;
			position:relative;
			height:183px;
			width:300px;
			
			}
		#header ul{
			list-style-type: none;
			margin:auto;
		}
		#Page1 {
			position:relative;
			left:426px;
			bottom:57px;
			width:fit-content;
		}
		 #Page1 a{
			display:inline-block;
			padding:20px;
			margin:auto;
			text-decoration: none;
			font-size:36px;
		}
		#Page1 a:hover{
			transform:scale(1.2);
		}

		#Page2 {
			position:relative;
			left:1110px;
			bottom:140px;
			width:fit-content;
		}
		#Page2 a{
			display:inline-block;
			padding:20px;
			margin:auto;
			text-decoration: none;
			font-size:36px;
		}
		#Page2 a:hover{
			transform:scale(1.2);
		}
		a:visited{
			color:white;
		}
		a:link{
			color:white;
		}
		
		#footer{
		  position: relative;
			width:1600px;
			height:500px;
			top:350px;
			left:50px;
			margin:0;
			padding:0;
		}
		
		#footer #Logo{
		  position: relative;
		  top:150px;
		  left:50%;
		}
		
		#FootNav ul{
			list-style-type: none;
			margin:auto;
		}
		
		#Contact ul{
		  list-style-type: none;
			margin:auto;
		}
		
		#Email{
		  position:relative;
			left:75%;
			bottom:90px;
			padding:20px;
			width:fit-content;
		}
		
		#Email a{
		  display:inline-block;
			margin:auto;
			text-decoration: none;
			font-size:36px;
		}
		
		#Email a:hover{
		  transform:scale(1.2);
		}
		
		#LinkedIn{
		  position:relative;
			left:27%;
			bottom:170px;
			padding:20px;
			width:fit-content;
		}
		
		#LinkedIn a:hover {
		  transform:scale(1.2);
		}
		
		#LinkedIn a{
		  display:inline-block;
			margin:auto;
			text-decoration: none;
			font-size:36px;
		}
#FootNav{
      position:relative;
      top:125px;
    }
    
    #Contact{
      position:relative;
      top:100px;
    }
      
		#copyright b{
			position:relative;
			color:white;
			font-size:26px;
	   }  
	   
	  #copyright{
	    position:relative;
	    left:45%;
	  }

/* Styles to be used by all pages in site  --End of Section-- */

		/* Styles specific for each page 
		#BodyText{
			height:fit-content;
			width:750px;
			position:relative;
			font-size: 32px;
			color:white;
			padding:0px;
			margin:auto;
		}
		#BodyText p{
			position:relative;
		}
		
		#BodyText b{
		  position: relative;
		  left:200px;
		}
		
		#Showcase{
		  position: relative;
		  height:510px;
		  width:750px;
		  left:800px;
		  top:100px;
		}
		
		#Showcase b{
		  color:white;
		  font-size:32px;
		  position:relative;
		}
		
		#FeaturedWork .imgHolder{
		  position:relative;
		  right:55%;
		  
		}
		
		#FeaturedWork .thumbnailIMG{
		  position:relative;
		  top:100px;
		  left:200px;
		}
		
		#FeaturedWork .textHolder{
		  position:relative;
		  top:100px;
		  left:55%;
		}
		
		#FeaturedWork .textHolder p{
		  font-size:28px;
		  color:white;
		}
		
		#FullGalleryCTA{
		  position:relative;
		  top:125px;
		  }
		*/
/* Styles specific for each page */
		

/* Styles for Small Screen Mobile Devices */ 

  @media only screen and (max-width: 600px){
	    #container{
	      width:100vw;
	      height:100vh;
	      margin:auto;
	      overflow-x: hidden;
	      overflow-y: auto;
	    }
	    
	    #header #Logo{
		  postion:relative;
	      width:20px;
	      height:20px;
	      left:45px;
	      top:50px;
	    }
	    #Logo img{
	     width:150px;
	    }
	  #Page1{
		  top:165px;
	      left:-35px;
	  }
	    
	    #Page1 a{
	      font-size:20px;
	    }
	  #Page2{
		  left:115px;
	      top:100px;
	  }
		  
	    
	    #Page2 a{
	      font-size: 20px;
	    }
	    #copyright b{
	      top:60px;
	      left:80px;
	      font-size:20px;
	    }
	    #BodyText{
	      width:250px;
	      font-size: 29px;
	      left:10px;
	    }
	  } 
/* Styles for Mobie Devices and Other Screen Sizes  ----End of Section---- */ 
